{% extends 'sito/base.html' %}

{% block contact %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Venite a trovarci di persona!</h2>
            </div>
            <div class="map">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-7">
                            <div class="map__inner">
                                <h6>COlorado</h6>
                                <ul>
                                    <li>1000 Lakepoint Dr, Frisco, CO 80443, USA</li>
                                    <li>Sweetcake@support.com</li>
                                    <li>+1 800-786-1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map__iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="section-title">
                <h2>Contattaci!</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__text">
                        <ul>
                            <li>Orari di apertura</li>
                            <li>Mon-Fri: 5:00am to 9:00pm</li>
                            <li>Sat-Sun: 6:00am to 9:00pm</li>
                        </ul>
                        <ul>
                            <li>Ci trovate presso</li>
                            <li>Via coriolo n.16</li>
                        </ul>
                        <img src="{{url_for('static', filename='img/sito/cake-piece.png')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact__form">
                        <form method="POST" action="{{url_for('profile.sendMex')}}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="oggetto" placeholder="Oggetto">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="mail" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">Invia</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}
