{% extends 'gestionale/base.html' %}

{% block formTurno %}
    {% from "sito/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="center">
        <h2>Aggiungi Turno dipendente del giorno</h2>
        {{ form.hidden_tag() }}
        <div class="row g-3">
          <div class="col-sm">
            {{ render_field(form.dipendente) }}
          </div>
          <div class="col-sm">
            {{ render_field(form.turno) }}
          </div>
            <div class="col-sm">
            {{ render_field(form.data) }}
          </div>
        </div>
        {{ form.submit }}
    </form>
{% endblock %}