{% extends 'gestionale/base.html' %}

{% block mex %}
<h2>Messaggi ricevuti</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Mittente</th>
      <th scope="col">Oggetto</th>
      <th scope="col">Contenuto</th>
    </tr>
  </thead>
  <tbody>
    {% for mex in messaggi%}
    <tr>
      <th scope="row">{{mex.Id}}</th>
      <td>{{mex.Mail_Cliente}}</td>
      <td>{{mex.Oggetto}}</td>
      <td>{{mex.Testo}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action="{{url_for('blog.messaggi')}}" method="post">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="mex" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="mex" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
{% endblock %}