{% extends 'gestionale/base.html' %}

{% block ricevuti %}
<br>
<p class="h2">Ordini Ricevuti</p>
<br>

<table class="table">
    <tr>
        <th scope="col" class="text-center">Numero doc</th>
        <th scope="col" class="text-center">Nome cliente</th>
        <th scope="col" class="text-center">Contatto</th>
        <th scope="col" class="text-center">Importo</th>
        <th scope="col" class="text-start text-center">Status</th>
        <th scope="col" class="text-start text-center">Data</th>
    </tr>

    {% for i in range(0, 10) %}
    <tr>
        <th class="text-start text-center">{{i}}</th>
        <td class="text-start text-center">Mark</td>
        <td class="text-start text-center">Otto</td>
        <td class="text-start text-center">@mdo</td>
        <td class="text-start p-3 mb-2 bg-danger text-white text-center">Otto</td>
        <td class="text-start text-center">Otto</td>
    </tr>
    {% endfor %}

</table>
<form action="{{url_for('ordini.ordiniGestionale')}}" method="post">
    <div class="row g-3">
        <input type="hidden" name="nascosto" value="1">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="ricevuti" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="ricevuti" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
{% endblock %}

{% block emessi %}
<br>
<hr>
<br>
<p class="h2">Ordini Effettuati</p>
<br>
<table class="table">
    <tr>
      <th scope="col" class="text-center">Numero doc</th>
        <th scope="col" class="text-center">Nome cliente</th>
        <th scope="col" class="text-center">Contatto</th>
        <th scope="col" class="text-center">Importo</th>
        <th scope="col" class="text-start text-center">Status</th>
        <th scope="col" class="text-start text-center">Data</th>
    </tr>

    {% for i in range(0, 10) %}
    <tr>
        <th scope="row" class="text-start text-center">1</th>
        <td class="text-start text-center">Mark</td>
        <td class="text-start text-center">Otto</td>
        <td class="text-start text-center">@mdo</td>
        <td class="text-start text-center p-3 mb-2 bg-danger text-white">@mdo</td>
        <td class="text-start text-center">@mdo</td>
    </tr>
    {% endfor %}

</table>
<form action="{{url_for('ordini.ordiniGestionale')}}" method="post">
    <div class="row g-3">
        <input type="hidden" name="nascosto" value="2">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="emessi" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="emessi" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
{% endblock %}